
<div id="assetGrid">

</div>

<script type="text/javascript">
    $( document ).ready(function() {
        new assetGridRouter();
        Backbone.emulateHTTP = true;
        Backbone.emulateJSON = true;
        Backbone.history.start();
    });
</script>