<!--below div will store assets information in grid model-->
<div id="assetGrid">
</div>
<script type="text/template" id="yearGrid">
  <div id='<%%= photosYear %>'><p class='monthbar'><%%= photosYear %></p><div id='pg<%%= photosYear %>' class='collage'></div></div>
</script>
<script type="text/template" id="pictView">
    <div></div>
    <img src='<%%= url %>' width='<%%= width %>px' height='<%%= height %>px' />
</script>
<!--Once all images are loaded we have to remove it TODO :Hiding once all images are loaded -->
<div id="loadingBar">
  Loading ......
</div>

<script type="text/javascript">
    var aGr;
    var loadAssets = true;
  //Once document is reading then
  $(document).ready(function () {
      //Creating assetGridRouter it will create grids with pictures
      aGr = new assetGridRouter();
      Backbone.emulateHTTP = true;
      Backbone.emulateJSON = true;
      Backbone.history.start();
      //$('#librayHeader').addClass('fixedLibrayBar')
  });
  window.onscroll = processScroll;
  function processScroll(){
      var scrollTop = photoLib.Util.Dom.getPageScrollPosition().scrollTop;
      if(scrollTop > 100){
          $('#librayHeader').addClass('fixedLibrayBar');
          var loadingBarPosition = photoLib.Util.Dom.findYPos($('#loadingBar').get(0));
          var viewPortHeight =  photoLib.Util.Dom.getBrowserViewportDimension().height;
          if(loadingBarPosition+10 < (viewPortHeight + scrollTop) && loadAssets){
            loadOtherPicts();
          }
      }
      else{
          if($('#librayHeader').hasClass('fixedLibrayBar')){
              $('#librayHeader').removeClass('fixedLibrayBar')
          }
      }
  }
    //TODO:Need to do some changes based on userasset API
  function loadOtherPicts(){
     aGr.loadRemainingAssets();
     loadAssets = false;
     if(!loadAssets){
         $("#loadingBar").hide();
     }
  }
</script>