<div class="main-Container">


  <!-- header start -->
  <div class="header">

    <!-- logo start -->
    <div class="logo"></div>
    <!-- logo end -->

    <!-- tabs start -->
    <div class="tabs">

      <!-- aligndiv tab start -->
      <div class="aligndiv">
        <ul>
          <li>
            <span>
              Library
            </span>

          </li>
          <li>
            <span>
              Stories
            </span>

          </li>
          <div class="clear">
          </div>
        </ul>
      </div>
      <!-- aligndiv tab end -->
      <div class="clear"></div>
    </div>
    <!-- tabs end -->

    <!-- upload start -->
    <div class="upload_layer">
      
    <a href="" class="upload">
      Add photos&nbsp; 
      <span class="box">+</span>
    </a>


    </div>
    <div class="clear"></div>
    <!-- upload end -->

  </div>
  <!-- header end -->


  <!-- library container start -->
  <div class="libContainer" id="librayHeader">
    <%= render :partial => "header"%>
  </div>
  <!-- library container end -->

  <!-- fluid grid container start -->
  <div class="fluidGridContainer">
    <%= render :partial => "assets"%>
  </div>
  <!-- fluid grid container end -->

</div>