common start*/
body {
    font-family: "Arial,Helvetica,Verdana,Sans-serif";
    font-weight:100;
    font-size: 12px;
    margin: 0;
}

.clear {
    clear: both;
}

ul,p {
    margin-top: 0;
    margin-bottom: 0;
}
/*common end*/


.main-Container{
    width:1080px;
    margin:0 auto;
}

.main-Container .header{
    border-bottom: 2px solid #D8D8D8;
    width:1080px;
}

/*generic start*/
.container {
    padding: 15px 0 ;
}

.visuallyhidden {
    display: none;
}


div.arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
}
/*generic end*/





.header .logo,.header .tabs,.header .upload_layer {
    display: inline-block;
}


.libContainer{}

/*logo start*/
.header div.logo {
    background: url("snapfish_logo.png") no-repeat right ;
    font-size: 14px;
    min-width: 262px;
    padding-left: 10px;
    height: 80px;
}
/*logo end*/


/*tabs start*/
.header div.tabs {
    font-size: 16px;
    height: 80px;
    width:500px;
    }

.tabs ul {
    list-style: none outside none;
    padding-left: 0;
}

.tabs ul li {
    float: left;
    width: 50%;
    display: inline;
    text-align: center;
}

.tabs .aligndiv {
    margin: auto;
    width: 320px;
}

.tabs .aligndiv  ul li {
    line-height: 80px;
    cursor: pointer;
    font-size: 24px;
    color:#A4A4A4;
}
/*tabs end*/

/* upload start */
/*div.header div.upload_layer a{
    color:#ffffff;
    padding: 15px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #3399CC;
    display:block;
    }

*/

div.header div.upload_layer {
    margin-top: 14px;
    float: right;
    margin-right: 20px;
 }


 /* new upload */
 .upload{
    border-radius: 7px;
    display: inline-block;
    
    min-width: 100px;
    max-width: 200px;
    
    padding:13px;
    
    color:#ffffff;
    background-color: #3399CC;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
}

.upload .box {
    background-color: #ffffff;
}

.upload .box {
display: inline-block;

color: #3399CC; /*snapfish blue*/
background: radial-gradient(circle at top left, #ffffff,#ffffff);

width:20px;
height: 17px;



text-align: center;

/*background: -moz-linear-gradient(to left,red,yellow);*/
padding: 2px;
-webkit-border-radius:50%;
border-radius: 50%;
}
 
 /*new upload end*/

/* upload end */


/* search container start */
.searchfilterContainer .customfilter, .searchfilterContainer .defaultfilter {
    width: 350px;
}
.searchfilterContainer .customfilter{
    padding-left: 35px;
}

div.searchfilterContainer{
    background-color: #f2f2f2;
    border-bottom: 2px solid #D8D8D8;
}

.searchfilterContainer div {
    display: inline-block;
}

.searchfilterContainer .defaultfilter {
    padding-top: 2px;
    float: right;
    width: 280px;
    margin-right: 20px;
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.searchfilterContainer .defaultfilter input{
    border: 0;
    padding: 0;
    width:235px;
}


.searchfilterContainer .customfilter {
    font-size:14px;
}

.searchfilterContainer img{
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.searchfilterContainer img,.searchfilterContainer div {
    vertical-align: middle;
}
/* search container end 