/*common start*/
body {
    font-family: "Arial,Helvetica,Verdana,Sans-serif";
    font-weight:normal;
    font-size: 12px;
    margin: 0;
}

.clear {
    clear: both;
}

.active{
    color:#A4A4A4;
}

.reset-rotate{
-moz-transform: rotate(0deg);
-webkit-transform:rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
}

.rotate-45-deg{
-moz-transform: rotate(45deg);
-webkit-transform:rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);    
}

.rotate-90-deg{
-moz-transform: rotate(90deg);
-webkit-transform:rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}


ul,p {
    margin-top: 0;
    margin-bottom: 0;
}
/*common end*/


.main-Container{
    width:1080px;
    margin:0 auto;
}

.main-Container .header{
    width:1080px;
}

/*generic start*/
.container {
    padding: 15px 0 ;
}

.visuallyhidden {
    display: none;
}


div.arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
}
/*generic end*/





.header .logo,.header .tabs,.header .upload_layer {
    display: inline-block;
}


.libContainer{}

.header{
    height: 80px;
}

/*logo start*/
.header div.logo {
    background: url("snapfish_logo.png") no-repeat right ;
    font-size: 14px;
    min-width: 262px;
    padding-left: 10px;
    height: 80px;
}
/*logo end*/


/*tabs start*/
.header div.tabs {
    font-size: 16px;
    height: 80px;
    width:55%;
    }

.tabs ul {
    list-style: none outside none;
    padding-left: 0;
}

.tabs ul li {
    float: left;
    width: 50%;
    display: inline;
    text-align: center;
}

.tabs .aligndiv {
    margin: auto;
    width: 320px;
}

.tabs .aligndiv  ul li {
    line-height: 80px;
    cursor: pointer;
    font-size: 24px;
    color: #D8D8D8;
}
/*tabs end*/

/* upload start */

    /*div.header div.upload_layer a{
    color:#ffffff;
    padding: 15px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #3399CC;
    display:block;
    }*/

div.header div.upload_layer {
    float: right;
    margin: 20px;
 }


 /* new upload */
 .upload{
    display: inline-block;
    color:#ffffff;
    background-color: #3399CC;    
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;  
    padding:10px;
    height: 20px;
    min-width: 130px;
    max-width: 200px;  
    -webkit-border-radius:7px;
    border-radius: 7px;
}

.upload .box {
    display: inline-block;
    padding: 2px;
    text-align: center;
    color: #3399CC; /*snapfish blue*/
    background-color: #ffffff;
    background: radial-gradient(circle at top left, #ffffff,#ffffff);
    width:20px;
    height: 17px;
    -webkit-border-radius:50%;
    border-radius: 50%;
}
 
/* upload end */


/* search container start */
.searchfilterContainer .customfilter, .searchfilterContainer .defaultfilter {
    width: 350px;
}
.searchfilterContainer .customfilter{
    padding-left: 35px;
}

div.searchfilterContainer{
    background-color: #f2f2f2;
    border-bottom: 2px solid #D8D8D8;
}

.searchfilterContainer div {
    display: inline-block;
}

.searchfilterContainer .defaultfilter {
    padding-top: 2px;
    float: right;
    width: 280px;
    margin-right: 20px;
    background-color: #ffffff;    
    -webkit-border-radius: 20px;    
    border-radius: 20px;
}

.searchfilterContainer .defaultfilter input{
    /*remove the bordered 
    selection upon selecting*/
    outline: 0; 
    border: 0;
    padding: 0;
    padding-left: 8px;
    height: 23px;
    width:235px;
    -webkit-border-radius: 20px;    
    border-radius: 20px;
}

.searchfilterContainer .customfilter {
    font-size:14px;
}

.searchfilterContainer .customfilter img{
    height: 30px;
    width: 30px;
}

.searchfilterContainer .customfilter span{
 padding-left: 5px;
}


.searchfilterContainer img{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 27px;
}

.searchfilterContainer img,.searchfilterContainer div {
    vertical-align: middle;
}
/* search container end*/

/*added by sandeep start*/
.fixedLibrayBar {
   position : fixed;
   top: 0px;
   z-index: 5;
   width: 1080px;
}
/*end*/